
/* Set the button's border to transparent*/
.custom_btn {
    border-color: transparent;
}

/* Set the div spacing */
.custom_div_margin_top {
    margin-top: 10px;
}

#StaffForm label.error {
        padding-left: 16px;
        margin-left: 2px;
        color: red;
}

.colhidden {
    display: none;
}

.imageHeightWidth {
    width: 135px;
    height: 200px;
}

